// 样式入口
@import "public/reset";
// 所有页面的public-container
@import "public/container.scss";

//组件
@import "components/orgTree/index";
@import "components/orgLayout/index";
@import "components/htmlContent";
@import "components/tableLayout";

// 工作台
@import "view/dashboard/index";

// 个人中心
@import "view/personal/index";

//机构管理
//通知通告
@import "view/organizationalManagement/notice";
//部门管理
@import "view/organizationalManagement/departmentManagement";
//人员管理
@import "view/organizationalManagement/personnelManagement";
//管理办法
@import "view/organizationalManagement/managementMethods";

//稽核管理
//工作底稿
@import "view/auditManagement/workManuscript";
//确认书
@import "view/auditManagement/confirmation";
//违规积分通知书
@import "view/auditManagement/punishNotice";
//积分表
@import "view/auditManagement/integralTable";
//统计分析
@import "view/auditManagement/statisticalAnalysis";
//审计方案
@import "view/auditManagement/auditPlan";
//整改通知
@import "view/auditManagement/rectifyNotice";
//整改报告
@import "view/auditManagement/rectifyReport";
//审计报告
@import "view/auditManagement/auditReport";


//系统管理
//字典管理
@import "view/systemManagement/dictionaryManagement";
//登录管理
@import "view/systemManagement/loginManagement";
//系统日志
@import "view/systemManagement/systemLog";
//菜单管理
@import "view/systemManagement/menusManagement";
//权限管理
@import "view/systemManagement/powerManagement";

.editMainBox{
  .el-input__inner[type="text"]{
    border: none;
    border-bottom: 1px solid #dcdfe6;
  }
}

.noMenuTips{
  position: relative;
  top: 50%;
  text-align: center;
  padding:0 40px;
  color: #fff;
  line-height: normal;
  &:hover{
    background-color: transparent;
  }
}

.el-col{
  span:empty{display: inline-block;}
}
