// list
.department-list-container {
  display: flex;
  justify-content:space-between;
  min-width: 700px;
  width: 100%;
  height: 100%;
  .right-col{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .el-input{
      width: 220px;
    }
  }

  .public-table{
    margin-top: 20px;
    height: calc(100vh - 255px);
  .el-table {
    min-height: calc(100vh - 235px);
  }
  }
  .left-tree-container{
    border-right: 2px #ebeef5 solid;
    height: 100%;
    width: 15%;
    min-width: 200px;
  }
  .right-table-container{
    margin-left: 20px;
    height: 100%;
    width: 90%;
  }
}

// add or edit
.department-input-container {
  width: 100%;
  height: 100%;
  .form-header {
    display: flex;
    justify-content: space-between;
  }
  .el-card{
    margin-top: 30px;
  }
  .form-title{
    span{
      font-size: 20px;
    }
  }
  .department-form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    .el-form-item {
    margin: 0;
    padding: 10px;
    }
  }
  .person-form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    .el-form-item {
    margin: 0;
    padding: 10px;
    }
  }
}
// show
.department-show-container {
  width: 100%;
  height: 100%;
  .form-header {
    display: flex;
    justify-content: space-between;
  }
  .el-card{
    margin-top: 30px;
  }
  .department-title{
    span{
      font-size: 20px;
    }
  }
  .department-form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    .el-form-item {
    margin: 0;
    padding: 10px;
  }
  }
  .person-form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    .el-form-item {
    margin: 0;
    padding: 10px;
  }
  }
}
