// list
.audit-report-list-container{
  .list-top{
    display: flex;
    justify-content: flex-end;
  }
}

// input
.audit-report-input-container {
  p{line-height: 30px;}
  .el-card {
    margin-top: 30px;
  }
  .indent{
    text-indent: 2em
  }
  .submit-button{
    display: flex;
    justify-content: center;
  }
  .el-form-item{
    margin: 0;
  }
  .checkContent{padding-left: 2em;}
}

//show
.audit-report-show-container {
  .el-card {
    margin-top: 30px;
  }
  .indent{
    text-indent: 2em
  }
  .submit-button{
    display: flex;
    justify-content: center;
  }
  .el-form-item{
    margin: 0;
  }
}
