// list
.audit-report-list-container{
  .list-top{
    display: flex;
    justify-content: space-between;
  }
}

// input
.audit-report-input-container {
  .el-card {
    margin-top: 30px;
  }
}

//show
.audit-report-show-container {
    .el-card {
    margin-top: 30px;
  }
}
