.confirmation-container {
  min-width: 700px;
  width: 100%;
  height: 100%;
  .confirmation-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 10px 0;
    .top-form {
      height: 100%;
      width: 400px;
    }
    .el-button {
      width: 90px;
    }
    .el-input {
      width: 220px;
    }
  }
  .confirmation-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0 0;
  }
}
