// list
.punish-list-container {
  min-width: 700px;
  width: 100%;
  height: 100%;
  .list-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 10px 0;
    .el-button {
      width: 90px;
    }
    .el-input {
      width: 220px;
    }
  }
  .confirmation-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0 0;
  }
}
//
.punish-input-container{
  .punish-top{
    display: flex;
    justify-content: space-between;
  }
  .el-card{
    margin-top: 30px;
  }
  .el-card__body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-body{
    max-width: 595px;
  }
}
