.change-password-container{
  padding: 30px 50px;
  .change-password-header{
    display: flex;
    justify-content: flex-end;
    padding: 0 0 20px 0;
  }
  .el-input{
    width: 220px;
  }
  .el-button{
    margin: 0 0 0 45px;
  }
}